<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container-load-order">
    <div class="content">
      <div class="divider"></div>
      <div class="title">
        Cadastro cliente
      </div>
      <div class="col-group item">
        <div class="col-info-flex">
          <div>
            <div class="detail">
              <p class="text-min item-code">
                <label>Nome</label><br>
                <input>
              </p>
              <p class="text-min item-code">
                <label>Data</label><br>
                <input>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
